@inherits Umbraco.Web.Mvc.UmbracoViewPage<ResetPasswordModel>

@using (Html.BeginUmbracoForm<AccountController>("ResetPassword", FormMethod.Post, htmlAttributes: new { @class = "card" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.RedirectToLogin)
    <div class="card-body">
        @Html.ValidationSummary()
        <div class="form-group">
            <label for="reg-pass">Enter your new password</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "reg-confirm-pass", required = "required", maxlength = "50" })
        </div>
        <div class="form-group">
            <label for="reg-confirm-pass">Confirm your new password</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "reg-confirm-pass", required = "required", maxlength = "50" })
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" type="submit">Change password</button>
    </div>
}
