@model Order

@{
    var tsales = Model.TicketOrderDetails.GroupBy(x => x.TicketSaleId);

}

<table border="0" cellspacing="0" cellpadding="0">
    @foreach (var tsale in tsales)
    {
        var item = tsale.First();
        var evnt = item.TicketSale.Event.Get();
        var quantity = tsale.Sum(x => x.Quantity);

        <tr>
            <!-- margin height 5px -->
            <td height="5" style="font-family: 'Roboto Condensed', sans-serif;line-height: 0; font-size: 0;">&nbsp;</td>
        </tr>
        <!-- article -->
        <tr>
            <!-- image -->
            <td width="70" style="font-family: 'Roboto Condensed', sans-serif;font-size: 0; line-height: 0;">
                <!-- default article -->
                <img src="@CloudinaryService.GetCloudinaryUrl(item.MetaData, 70, 105, CropType.Lpad)" alt="@evnt.DisplayName()" />
            </td>
            <!-- information -->
            <td width="580" style="font-family: 'Roboto Condensed', sans-serif;font-size: 0; line-height: 0;">
                <!-- default article -->
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <!-- margin width 20px -->
                        <td width="20" style="font-family: 'Roboto Condensed', sans-serif;font-size: 0; line-height: 0;">&nbsp;</td>
                        <!-- style name and style number -->
                        <td align="left" width="185" style="font-family: 'Roboto Condensed', sans-serif;font-size: 12px; line-height: 18px; color: #000000; letter-spacing: 0px;">
                            @evnt.DisplayName()
                        </td>
                        <!-- name your style -->
                        <td align="left" width="142" style="font-family: 'Roboto Condensed', sans-serif;font-size: 12px; line-height: 18px; color: #000000; letter-spacing: 0px;">
                            <span>Ticket: @item.TicketSale.Description</span>
                        </td>
                        <!-- price per unit sale/default -->
                        <td align="center" width="100" style="font-family: 'Roboto Condensed', sans-serif;font-size: 12px; line-height: 18px; color: #000000; letter-spacing: 0px;">
                            <span>@SnuffoSettings.ConvertMoney(item.CalculatePriceWithDiscount())</span>
                        </td>
                        <!-- quantity -->
                        <td align="center" width="55" style="font-family: 'Roboto Condensed', sans-serif;font-size: 12px; line-height: 18px; color: #000000; letter-spacing: 0px;">
                            @quantity
                        </td>
                        <!-- sum storno/soldout/deafult -->
                        <td align="right" width="60" style="font-family: 'Roboto Condensed', sans-serif;font-size: 12px; line-height: 18px; color: #000000; letter-spacing: 0px;">
                            <!-- default -->
                            @(SnuffoSettings.ConvertMoney(item.CalculateTotalWithoutVAT()))
                        </td>
                        <!-- margin width 10px -->
                        <td width="10" style="font-family: 'Roboto Condensed', sans-serif;font-size: 0; line-height: 0;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- margin height 5px -->
        <tr>
            <td height="5" style="font-family: 'Roboto Condensed', sans-serif;font-size: 0; line-height: 0;">&nbsp;</td>
        </tr>
    }
</table>
