@model Uvendia.Domain.Mvc.ViewModels.EventsModel
@using Uvendia.Domain
@{
    bool authorized = UmbracoUtils.IsUserAllowedToModify();
}

@Html.CreateAuthorizedActionHtml("Create Event", ActionType.Create, new Dictionary<string, string> { { "id", "createevent" }, { "data-event-id", "0" }, { "class", "btn btn-primary action-link linkEvent" }, { "role", "button" } }, authorized)
<br />
@if (Model.Items.Any())
{
    Html.RenderPartial("~/Umbraco/Uvendia/Views/Event/_Events.cshtml", Model.Items);

    @Html.Raw(Dazzling.Studio.Utils.Web.PagerHelper.CreatePaging(Model.TotalRows, Model.TotalPages, Model.PageIndex))
}
else
{
    <br />
    <br />
    <p><i>No records found</i></p>
}
@Html.HiddenFor(m => m.TreePath)
@Html.HiddenFor(m => m.EventStatusId)
@Html.HiddenFor(model => model.TreeSelectedNodePath)
@section scripts {
    <script>

        UmbClientMgr.mainTree().syncTree($('#TreeSelectedNodePath').val(), true);
    </script>
}