@model Uvendia.Domain.Mvc.ViewModels.AvailableInCountryModel
@{

}
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<div id="tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tabs-content">Content</a></li>
    </ul>
    @using (Html.BeginForm("Countries", "Settings", FormMethod.Post, htmlAttributes: new { id = "frmAvailableInCountry", @class = "form-group", style = "height:500px" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.AvailableInCountry.Id)
        @Html.HiddenFor(model => model.AvailableInCountry.CreatedOn)
        @Html.HiddenFor(model => model.AvailableInCountry.CreatedBy)
        @Html.HiddenFor(model => model.TreeSelectedNodePath)

        <div id="tabs-content" style="display:none;">
            <select data-placeholder="Choose a Country..." class="chosen-select" style="width:100%" name="selectedCountries" multiple>
                @foreach (var c in Model.AllCountries)
                {
                    <option value="@c.TwoLetterCode" @(Model.IsSelected(c.TwoLetterCode))>@c.Name</option>
                }
            </select>
        </div>
        <br />        
        <div class="form-group">
            <div class="btn-toolbar">
                @Html.CreateAuthorizedActionButton("Save", ActionType.Save, new Dictionary<string, string> { { "type", "submit" }, { "class", "btn btn-success pull-left action-link" } })
            </div>
        </div>
    }
</div>
@section scripts{
    <script>
        $(function () {
            $("#tabs").tabs();
            $('.chosen-select').chosen({});
        });
        UmbClientMgr.mainTree().syncTree($('#TreeSelectedNodePath').val(), false);

    </script>
}
