@model Uvendia.Domain.Mvc.ViewModels.TicketTypeModel
@using Uvendia.Domain.Settings
@{

}
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<div id="tabs">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#tabs-content">Content</a></li>
    </ul>
    @using (Html.BeginForm("TicketType", "Settings", FormMethod.Post, htmlAttributes: new { id = "frmTicketType", @class = "form-group" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.TicketType.Id)
        @Html.HiddenFor(model => model.TicketType.CreatedOn)
        @Html.HiddenFor(model => model.TicketType.CreatedBy)
        @Html.HiddenFor(model => model.TicketType.ModifiedBy)
        @Html.HiddenFor(model => model.TreeSelectedNodePath)
        @Html.HiddenFor(model => model.TicketType.Enabled)
        @Html.HiddenFor(model => model.CurrentTabIndex)

        <div id="tabs-content" style="display:none;">

            <div class="row">
                @Html.LabelFor(model => model.TicketType.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.TicketType.Name, new { htmlAttributes = new { @class = "form-control input-sm required" } })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.TicketType.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.TextAreaFor(model => model.TicketType.Description, 2, 2, new { @class = "form-control input-sm" })
            </div>

        </div>

        <div class="form-group">
            <div class="btn-toolbar">
                @Html.CreateAuthorizedActionButton("Save", ActionType.Save, new Dictionary<string, string> { { "type", "submit" }, { "class", "btn btn-success pull-left action-link" } })
            </div>
        </div>
    }
</div>
@section scripts{
    <script>
        $(function () {
        });
        UmbClientMgr.mainTree().syncTree($('#TreeSelectedNodePath').val(), true);

    </script>
}