@inherits Umbraco.Web.Mvc.UmbracoViewPage<EventDetailModel>
@{
    Layout = "masterShopTop.cshtml";    
}

<div class="about-section">
    <div class="festival-content">
        <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-sm-6">
                    <div class="about-image before-right">
                        <img class="img-responsive" src="@Model.ImageUrl" alt="@Model.Event.DisplayName()">
                        <div class="image-overlay">

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="festival-info">
                        <h1>@Model.Event.DisplayName()</h1>
                        <p>
                            @Html.Raw(Model.Event.GetShortDescription())
                        </p>
                        <ul class="about-time">
                            @if (Model.Event.StartTime.HasValue)
                            {
                                <li><i class="fa fa-clock-o"></i>Start: @Model.Event.StartTime.Value.ToString("dd MMMM yyyy HH:mm")</li>
                            }
                            @if (Model.Event.EndTime.HasValue)
                            {
                                <li><i class="fa fa-clock-o"></i>End: @Model.Event.EndTime.Value.ToString("dd MMMM yyyy HH:mm")</li>
                            }
                            @if (Model.Event.Address != null)
                            {
                                <li><i class="fa fa-map"></i>@Model.Event.Address.ToString()</li>
                            }
                        </ul>
                        @if (Model.Event.IsTicketSaleEnabled)
                        {
                            <a href="#tickets" class="btn btn-primary">Get a Ticket</a>
                        }
                    </div>
                </div>
            </div><!-- row -->
        </div><!-- container fluid -->
    </div><!-- festival content -->
</div><!-- about section -->
@{Html.RenderPartial("~/views/partials/event/_TicketForm.cshtml", Model); }

@section scripts {
    <script type="text/javascript">
        $(function () {
            activateButton();
            $('select.ticketType').change(function () {
                activateButton();
            });
        });
        function activateButton() {
            var disable = true;
            $('select.ticketType').each(function () {
                if (parseInt($(this).val()) > 0) {
                    disable = false;
                }
            });

            if (disable)
                $('#btnBuyTickets').attr('disabled', 'disabled');
            else
                $('#btnBuyTickets').removeAttr('disabled');
        }

    </script>
}